<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml
    PURPOSE: Declares all 5 Activities in the Cash Register app.
    WHY ALL 5 MUST BE HERE: Android throws ActivityNotFoundException at runtime if an
    Activity is launched via Intent but not declared in the manifest. Every screen
    that can be navigated to must be registered here.

    parentActivityName: tells Android which Activity to return to when the user taps
    the ActionBar back arrow. Works in conjunction with onSupportNavigateUp() in each
    Activity and the setDisplayHomeAsUpEnabled(true) call in onCreate().
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashRegister">

        <!-- MainActivity: the app entry point, shown on the home screen launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ManagerActivity: opened from MainActivity's MANAGER button -->
        <activity
            android:name=".ManagerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- HistoryActivity: opened from ManagerActivity's HISTORY button -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:parentActivityName=".ManagerActivity" />

        <!-- HistoryDetailActivity: opened from HistoryActivity on row tap -->
        <activity
            android:name=".HistoryDetailActivity"
            android:exported="false"
            android:parentActivityName=".HistoryActivity" />

        <!-- RestockActivity: opened from ManagerActivity's RESTOCK button -->
        <activity
            android:name=".RestockActivity"
            android:exported="false"
            android:parentActivityName=".ManagerActivity" />

    </application>

</manifest>
